<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">      
    </compilation>
    <httpRuntime/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="LatestRelease" value="DR12"/>
    <add key="CJobsWSID" value="605608325"/>
    <add key="CJobsPWD" value="cone2015search"/>
    <add key="ConeSelect" value="top 5000 p.objid,p.ra,p.dec,dbo.fPhotoTypeN(p.type) as type,u,g,r,i,z,Err_u,Err_g,Err_r,Err_i,Err_z,psfMag_u,psfMagErr_u,psfMag_g,psfMagErr_g,psfMag_r,psfMagErr_r,psfMag_i,psfMagErr_i,psfMag_z,psfMagErr_z"/>
    <add key="CmdTemplate1" value="select run, rerun, camcol, field from dbo.fGetNearbyObjEq(TEMPLATE) group by run, rerun, camcol, field order by run, rerun, camcol, field" />
    <add key="CmdTemplate" value="select 
	r.run, r.rerun, r.camcol, r.field, f.fieldId, r.stripe, r.strip, 
	r.ra, r.dec, r.raMin, r.raMax, r.decMin, r.decMax, 
	r.mu, r.nu, r.incl, r.node,
	r.a, r.b, r.c, r.d, r.e, r.f, 
	f.quality,
	f.a_u, f.b_u, f.c_u, f.d_u, f.e_u, f.f_u,
	f.a_g, f.b_g, f.c_g, f.d_g, f.e_g, f.f_g,
	f.a_r, f.b_r, f.c_r, f.d_r, f.e_r, f.f_r,
	f.a_i, f.b_i, f.c_i, f.d_i, f.e_i, f.f_i,
	f.a_z, f.b_z, f.c_z, f.d_z, f.e_z, f.f_z,
  dbo.fGetUrlFitsCFrame(f.fieldId,'u') as u_url,
	dbo.fGetUrlFitsCFrame(f.fieldId,'g') as g_url,
	dbo.fGetUrlFitsCFrame(f.fieldId,'r') as r_url,
	dbo.fGetUrlFitsCFrame(f.fieldId,'i') as i_url,
	dbo.fGetUrlFitsCFrame(f.fieldId,'z') as z_url
  from dbo.fGetNearbyFrameEq(TEMPLATE,0) n, Frame r, Field f
  where f.fieldId=r.fieldId and r.fieldId=n.fieldId and r.zoom=0
" />
    <add key="CmdTemplate2" value="
  select 
	r.run, r.rerun, r.camcol, r.field, f.fieldId, r.stripe, r.strip, 
	r.ra, r.dec, r.raMin, r.raMax, r.decMin, r.decMax, 
	r.mu, r.nu, r.incl, r.node,
	r.a, r.b, r.c, r.d, r.e, r.f, 
	f.quality,
	f.a_u, f.b_u, f.c_u, f.d_u, f.e_u, f.f_u,
	f.a_g, f.b_g, f.c_g, f.d_g, f.e_g, f.f_g,
	f.a_r, f.b_r, f.c_r, f.d_r, f.e_r, f.f_r,
	f.a_i, f.b_i, f.c_i, f.d_i, f.e_i, f.f_i,
	f.a_z, f.b_z, f.c_z, f.d_z, f.e_z, f.f_z,
  dbo.fGetUrlFitsCFrame(f.fieldId,'u') as u_url,
	dbo.fGetUrlFitsCFrame(f.fieldId,'g') as g_url,
	dbo.fGetUrlFitsCFrame(f.fieldId,'r') as r_url,
	dbo.fGetUrlFitsCFrame(f.fieldId,'i') as i_url,
	dbo.fGetUrlFitsCFrame(f.fieldId,'z') as z_url
  from Frame r join Field f on f.fieldId=r.fieldId
  where r.zoom=0
" />    
    
    <add key="sdssUrlPrefix" value="http://das.sdss.org/imaging/" />
    <add key="sdss3UrlPrefix" value="http://data.sdss3.org/sas/dr9/boss/photoObj/frames" />    
    
    <add key="UrlSdssGetJpeg" value="http://skyservice.pha.jhu.edu/VERSION/ImgCutout/getjpeg.aspx"/>
    
  </appSettings>
  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule"/>
      <add name="UrlRoutingModule"
           type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <handlers>
      <add name="UrlRoutingHandler"
           preCondition="integratedMode"
           verb="*"
           path="UrlRouting.axd"
           type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>-->
  <system.serviceModel>
    
    <bindings>      
      <basicHttpBinding>
        <binding name="JobsSoap"  maxReceivedMessageSize="20000000"
                   maxBufferSize="20000000"
                   maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>      
    </bindings>
    <client>
      <endpoint address="http://skyserver.sdss.org/casjobs/Services/jobs.asmx"
        binding="basicHttpBinding" bindingConfiguration="JobsSoap" contract="casjobs.JobsSoap"
        name="JobsSoap" />
      
    </client>
  </system.serviceModel>
</configuration>